<h1>Sign-up form!</h1>

<form action="/register" method="POST">
    <input type="text" placeholder="Name" name="username">
    <input type="password" placeholder="Password" name="password">
    <button>Submit</button>
</form>

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>
